<div class="container">
   <p class="title is-1">Hello in Frameworks!</p>
   <p class="subtitle is-3">Place to share informations about frameworks.</p>
</div>
<section class="hero is-primary">
   <div class="hero-body">
      <div class="container">
         <h1 class="title is-2">
            Java
         </h1>
         <h2 class="subtitle is-4">
            Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque
         </h2>
      </div>
   </div>
</section>
<div class="container">
   <div class="columns is-multiline">
      <div class="column is-one-third">
         <div class="card">
            <header class="card-header">
               <p class="card-header-title">
                  Spring Framework
               </p>
            </header>
            <div class="card-content">
               <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                     consectetur adipiscing elit. Phasellus nec iaculis mauris.
                  </p>
                  <p>Type: <strong>Back-end</strong></p>
                  <p>Release year: <strong>2009</strong></p>
               </div>
            </div>
            <footer class="card-footer">
               <a class="card-footer-item">Save</a>
               <a class="card-footer-item">Edit</a>
               <a class="card-footer-item">Delete</a>
            </footer>
         </div>
      </div>
   </div>
</div>
<section class="hero is-info">
   <div class="hero-body">
      <div class="container">
         <h1 class="title is-2">
            C#
         </h1>
         <h2 class="subtitle is-4">
            Make things slow
         </h2>
      </div>
   </div>
</section>
<div class="container">
   <div class="columns is-multiline">
      <div class="column is-one-third">
         <div class="card">
            <header class="card-header">
               <p class="card-header-title">
                  Spring Framework
               </p>
            </header>
            <div class="card-content">
               <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                     consectetur adipiscing elit. Phasellus nec iaculis mauris.
                  </p>
                  <p>Type: <strong>Back-end</strong></p>
                  <p>Release year: <strong>2009</strong></p>
               </div>
            </div>
            <footer class="card-footer">
               <a class="card-footer-item">Save</a>
               <a class="card-footer-item">Edit</a>
               <a class="card-footer-item">Delete</a>
            </footer>
         </div>
      </div>
   </div>
</div>