<div class="container">
  <p class="title is-2">Edit  <%= @language.name %></p>
   <div class="columns">
       <div class="column is-4">
   
<%= render 'form' %>
      
       <br>
       <%= link_to 'Back', language_path(@language),  :class=>"button" %>
       </div>
    </div>
</div>
