<div class="container">
  <p class="title is-2">Add new language!</p>
  <div class="columns is-mobile">
    <div class="column is-4-desktop is-6-mobile"><%= render 'form' %><%= link_to 'Back', languages_path,  :class=>"button"  %>
    </div>
  </div>
</div>