<div class="container">
  <p class="title is-2">Add new language!</p>
  <div class="columns">
    <div class="column is-4"><%= render 'form' %><%= link_to 'Back', languages_path,  :class=>"button"  %>
    </div>
  </div>
</div>