<section class="hero" id="language">
  <div class="hero-body">
    <div class="container">
      <h1 class="language-name">
        <%= @language.name %>
      </h1>
      <h2 class="subtitle is-1">
        <%= @language.description %>
      </h2>
    </div>
  </div>
</section>
<script>
var colors = ['is-primary', 'is-info', 'is-danger','is-warning', 'is-success', 'is-primary is-bold', 'is-success is-bold','is-warning is-bold','is-danger is-bold','is-primary is-bold','is-info is-bold' ];
var color = colors[Math.floor(Math.random()*colors.length)];
$('#language').addClass(color);
   
</script>
