 @import "font-awesome";
 @import "bulma";
 @import url('https://fonts.googleapis.com/css?family=Roboto:300');
 a.nav-brand {
     font-family: 'Roboto', sans-serif;
     font-size: 1.4rem;
 }
 
 .hero {
     margin-bottom: 50px;
     margin-top: 50px;
 }
 
 p.card-header-title {
     font-size: 1.2rem;
     font-weight: 500;
 }
 
 h1.language-name {
     font-size: 15rem;
 }
 
 .card {
     border: solid 5px $primary;
 }