 @import "font-awesome";
 @import "bulma";
 @import url('https://fonts.googleapis.com/css?family=Roboto:300');
 $tablet-width: 768px;
 $desktop-width: 1024px;
 @mixin tablet {
     @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
         @content;
     }
 }
 
 @mixin desktop {
     @media (min-width: #{$desktop-width}) {
         @content;
     }
 }
 
 a.nav-brand {
     font-family: 'Roboto', sans-serif;
     font-size: 1.4rem;
 }
 
 .hero-language {
     margin-bottom: 50px;
     margin-top: 50px;
 }
 
 p.card-header-title {
     font-size: 1.2rem;
     font-weight: 500;
 }
 
 h1.language-name {
     font-size: 15rem;
     @include tablet {
         font-size: 20rem;
     }
 }
 
 h1 {
     @include tablet {
         font-size: 8rem !important;
     }
 }
 
 h2 {
     @include tablet {
         font-size: 6rem !important;
     }
 }
 
 p.card-header-title {
     @include tablet {
         font-size: 4rem !important;
     }
 }
 
 i.fa-info-circle {
     @include tablet {
         font-size: 3rem !important;
     }
 }
 
 i.fa-angle-right {
     @include tablet {
         font-size: 4rem !important;
     }
 }
i.fa-cog  {
     @include tablet {
         font-size: 3rem !important;
     }
 }

i.fa-times-circle, i.fa-angle-up  {
     @include tablet {
         font-size: 3rem !important;
     }
 }
 .icons i {
     @include tablet {
         font-size: 3rem !important;
     }
 }
 
 .card {
     border: solid 4px $primary;
 }
 
 .fa-times-circle,
 .fa-plus {
     cursor: pointer;
 }
 
 .hero-framework {
     margin-top: 40px;
     padding: 20px;
     border-left: solid 4px $info;
 }
 
 a.removeFramework {
     color: $danger;
 }
 
 .Top {
     position: fixed;
     bottom: 20px;
     right: 20px;
     padding: 3px 5px;
     color: $grey;
     cursor: pointer;
     display: none;
     i {
         font-size: 3rem;
     }
 }
 
 body {
     font-size: 1rem;
     @include tablet {
         font-size: 2rem;
     }
 }
 
 .framework-description {
     @include tablet {
         font-size: 4rem !important;
     }
 }
 
 .button {
     @include tablet {
         font-size: 2rem !important;
     }
 }
 
 p.title {
     @include tablet {
         font-size: 5rem !important;
     }
 }
 
 input {
     @include tablet {
         font-size: 3rem !important;
     }
 }
 
 a.nav-item,
 a.nav-item i {
     @include tablet {
         font-size: 2rem !important;
     }
 }
 
 i.fa-github {
     @include tablet {
         display: none;
     }
 }

h1.language-name {
     @include tablet {
         font-size: 12rem !important;
     }
 }

#framework_category {
    @include tablet {
         font-size: 2rem !important;
     }
}

p.subtitle.is-3 {
    @include tablet {
         font-size: 3rem !important;
     }
}
i.fa-angle-up {
    @include tablet {
         font-size: 5rem !important;
     }
}