 @import "font-awesome";
 @import "bulma";
 @import url('https://fonts.googleapis.com/css?family=Roboto:300');
 a.nav-brand {
     font-family: 'Roboto', sans-serif;
     font-size: 1.4rem;
 }
 
 .hero-language {
     margin-bottom: 50px;
     margin-top: 50px;
 }
 
 p.card-header-title {
     font-size: 1.2rem;
     font-weight: 500;
 }
 
 h1.language-name {
     font-size: 15rem;
 }
 
 .card {
     border: solid 4px $primary;
 }
 
 .fa-times-circle,
 .fa-plus {
     cursor: pointer;
 }
 
 .hero-framework {
     margin-top: 40px;
     padding: 20px;
     border-left: solid 4px $info;
 }
 
 a.removeFramework {
     color: $danger;
 }
 
 .Top {
     position: fixed;
     bottom: 20px;
     right: 20px;
     padding: 3px 5px;
     color: $grey;
     cursor: pointer;
     display: none;
     i {
         font-size: 3rem;
     }
 }

.search {
}
